API_ID="your app id" from https://my.telegram.org/apps
API_HASH = "your app hash" from https://my.telegram.org/apps
PHONENUMBER="Your Phone number or bot token" 
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
S3_BUCKET_NAME=